@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    h1{
        @apply font-manrope font-extrabold text-5xl/snug  lg:text-6xl/[75px] text-black;
    }

    h2{
        @apply font-manrope font-extrabold text-4xl/snug lg:text-5xl/[65px] text-black;
    }
} 



/* register and service icons */


.right_mark::before{
    content: url('/images/2-right_mark.svg');
    top:0.4px;
    position: absolute;
    left: -38px;
    padding-left: 40px
    
}

/* for larger screen */
@screen md{

    .right_mark::before{
        content: url('/images/2-right_mark.svg');
        top: 3px;
        position: absolute;
        left: -26px;
        padding-left: 32px
        
    }

}


/* Box shadow */

.custom-box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .custom-box-shado {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
} */

.custom-box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}







.placeholder-margin-left::placeholder {
    padding-left: 1rem;
    font-size: 13px;
}



@layer base {

    html {
        font-size: 80%; 
      }
   
  
    @screen md {
      html {
        font-size: 85%; 
      }
    }
  
    @screen lg {
      html {
        font-size: 100%;
      }
    }
  
  }





  @layer components{

    .card-style-comp{      
        @apply duration-300 ease-linear hover:scale-105 overflow-hidden custom-box-shadow
     
    }

  }
  

